.ready-to-buy{
	padding: 73px 0 131px;
	display:flex;
	flex-direction: column;
	align-items: center;
	.section__title{
		padding: 26px 0 44px;
	}
	.ready-to-buy-input-block{
		width: 502px;
		height: 50px;
		border-radius: 25px;
		border: 1px solid rgba(34, 35, 40, 0.2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 5px;
		input{
			width: 60%;
			height: 100%;
			border:none;
			background: transparent;
			padding-left: 21px;
		}
		.green__button{
			padding: 0 24px 0 31px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.or-download{
		padding: 65px 0 19px;
	}
}